---
import { localizedPath, type Locale } from "../../i18n";
import DocsPage from "../../layouts/DocsPage.astro";
import { getSiteCopy } from "../../site-content";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const copy = getSiteCopy(locale);
const page = copy.docs.packageDiscovery;
const escapeHtml = (value: string) =>
  value.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
const renderInlineCode = (value: string) =>
  escapeHtml(value).replace(/`([^`]+)`/g, "<code>$1</code>");
---

<DocsPage
  title={page.title}
  description={page.description}
  locale={locale}
  pagePath="/docs/package-discovery/"
>
  <p set:html={renderInlineCode(page.intro)} />

  <p>{page.usePage}</p>
  <ul>
    {
      page.bullets.map((item) => <li set:html={renderInlineCode(item)}></li>)
    }
  </ul>

  <p>{page.liveGenerator} <a href={localizedPath("/packages/", locale)}>{localizedPath("/packages/", locale)}</a>.</p>
</DocsPage>
